/* Exercice 1 trainings + Tab Exercices */

.text-hidden {
    display: none;
}

/* Exercice 4 trainings */

.btn--blue {
    background-color: blue;
}

.btn--red {
    background-color: red;
}

.btn--green{
    background-color: green;
}

/* Tab Exercice */

.active-tab {
background-color: white;
}
